<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>taskapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9F93F2D1DA246C700F5D109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F93F411DA246C800F5D109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9F93F4C1DA246C800F5D109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
